/* Responsive Page settings */

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
    /* Body Styling*/
}

body {
    background-color: rgb(226, 222, 222);
  }
  p {
    border: 1Px solid rgb(209, 208, 208);
    padding: 30px;
  }

  .header {
    padding: 10px;
    text-align: center;
    background: #61817b;
    color: white;
    font-size: 30px;
  }

  .header2 {
    padding: 1px;
    text-align: center;
    background: #a88a76;
    color: rgb(3, 3, 3);
    font-size: 20px;
  }

  .header3 {
    padding: 1px;
    text-align: center;
    background: #a3b9b5;
    color: rgb(3, 3, 3);
    font-size: 20px;
  }
  .header4 {
    padding: 1px;
    text-align: center;
    background: #887f79;
    color: rgb(3, 3, 3);
    font-size: 20px;
  }

/* Navigation bar settings */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(87, 87, 87);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .active {
    background-color: #4CAF50;
  }

  /*Footer Settings*/
footer {
  text-align: center;
  padding: 1px;
  background-color: #c7c7c7;
}
footer p {
  font-size: 0.75rem;
}